body {
  margin: 100px;
}

.cool-btn {
  width: 200px;
  height: 40px;
  line-height: 40px;
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.cool-btn::before,
.cool-btn::after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  transition: 0.35s;
}
.cool-btn::before {
  content: attr(data-link);
  background-color: crimson;
  top: 0;
}
.cool-btn::after {
  content: attr(data-event);
  background-color: royalblue;
  top: 100%;
}
.cool-btn:hover::before {
  top: -100%;
}
.cool-btn:hover::after {
  top: 0;
}
